<div class="minicart-item-container">
  <div class="product-item-image">
    <a href="/products/{{this.sn}}">
      <span class="item-image-container">
        <img src="{{this.image}}" width="100%" height="auto">
      </span>
    </a>
  </div>

  <div class="product-item-details">
    <p>
      <div class="name">
        <strong class="item-details-name">
          <a href="/products/{{this.sn}}">
            {{!-- {{this.name}} --}}GIRL'S CROWN BONDED FULL-ZIP HOODIE
          </a>
        </strong>
      </div>

      <div class="quantity">
        <span class="font-weight-bold">Quantity:</span>
        {{!-- {{this.quantity}} --}}1
      </div>
      <div class="expend">
        <span>查看詳細資訊</span>
        <div class="color">
          <span class="font-weight-bold">Color:</span>
          {{!-- {{this.color}} --}}CREME FRESH PRESSED
        </div>

        <div class="size">
          <span class="font-weight-bold">Size:</span>
          {{!-- {{this.size}} --}}L
        </div>

        <div class="price">
          {{!-- {{this.salePrice}} --}}NT$2,450
        </div>
      </div>
    </p>
  </div>
</div>