<div class="minicart-item-container">
  <ul class="minicart-items">
    {{#each cartItems}}
    <li class="product-item d-flex py-3 border-bottom">
      <div class="product-item-image mt-1">
        <a href="/products/{{this.sn}}">
          <span class="item-image-container">
            <img src="{{this.image}}" width="100%" height="auto">
          </span>
        </a>
      </div>

      <div class="product-item-details">
        <div class="name">
          <strong class="item-details-name">
            <a href="/products/{{this.sn}}">
              {{this.name}}
            </a>
          </strong>
        </div>

        <div class="quantity py-1">
          <span class="font-weight-bold">數量:</span>
          {{this.quantity}}
        </div>

        <div class="price">
          {{this.salePrice}}
        </div>

        <div class="expend pt-1">
          <span>查看詳細資訊</span>
          <div class="color py-1">
            <span class="font-weight-bold">Color:</span>
            {{this.color}}
          </div>

          <div class="size">
            <span class="font-weight-bold">Size:</span>
            {{this.size}}
          </div>
        </div>
      </div>
    </li>
    {{/each}}
  </ul>

</div>