<section class="panel">
  <p class="title border-bottom-0 pb-0">配送資訊</p>
  <div class="delivery">
    <ul>
      <li>
        <span>{{receiveName}}</span>
        <span class="ml-3">{{receiveCountry}}</span>
      </li>
      <li class="mt-1">{{receiveAddress}}</li>
      <li class="mt-1">{{receivePhone}}</li>
      <li class="mt-1">{{shippingWayToMandarin shippingWay}}
        {{#if store}}
        <span> - </span>
        <span>{{store}}</span>
        {{/if}}
      </li>
    </ul>
  </div>
</section>