<div class="cart row">
  <section class="table-container col-lg-8 mx-auto px-5">
    <table class="table border-bottom">
      <thead>
        <tr class="text-center">
          <th scope="col" class="text-left border-0">商品</th>
          <th scope="col" class="border-0">價格</th>
          <th scope="col" class="border-0">數量</th>
          <th scope="col" class="border-0">小計</th>
        </tr>
      </thead>

      <tbody>
        {{#each cartItems}}
        <tr class="item-info text-center">
          <td class="item-img text-left d-flex">
            <a href="/products/{{this.sn}}">
              <span class="item-img-wrapper">
                <img src="{{this.image}}" width="100%" height="auto">
              </span>
            </a>

            <div class="item-detail d-flex flex-column justify-content-center ml-4">
              <p class="name">
                <a href="/products/{{this.sn}}">
                  {{this.name}}
                </a>
              </p>
              <p>
                <span class="font-weight-bold">Color:</span>
                {{this.color}}
              </p>
              <p>
                <span class="font-weight-bold">Size:</span>
                {{this.size}}
              </p>
            </div>
          </td>

          <td>
            {{currency this.salePrice}}
          </td>

          <td>
            <div class="d-flex justify-content-center">
              <div class="qty-field mr-1">
                <input type="number" maxlength="3" value="{{this.quantity}}" disabled>
              </div>

              <div class="qty-change">
                <form action="/cart/cartItems/{{CartProductSkuId}}/add" method="POST">
                  <input type="hidden" name="receiveCountry" value="{{../receiveCountry}}">
                  <input type="hidden" name="county" value="{{../county}}">
                  <input type="hidden" name="zip" value="{{../zip}}">
                  <input type="hidden" name="shippingWay" value="{{../shippingWay}}">
                  <button type="submit" class="btn btn-sm btn-outline-secondary">
                    <i class="fas fa-caret-up"></i>
                  </button>
                </form>
                <form action="/cart/cartItems/{{CartProductSkuId}}/sub" method="POST" class="mt-1">
                  <input type="hidden" name="receiveCountry" value="{{../receiveCountry}}">
                  <input type="hidden" name="county" value="{{../county}}">
                  <input type="hidden" name="zip" value="{{../zip}}">
                  <input type="hidden" name="shippingWay" value="{{../shippingWay}}">
                  <button type="submit" class="btn btn-sm btn-outline-secondary">
                    <i class="fas fa-caret-down"></i>
                  </button>
                </form>
              </div>
            </div>
          </td>

          <td>
            {{currency this.itemTotal}}
          </td>
        </tr>

        <tr class="item-actions">
          <td colspan="100" class="border-top-0">
            <div class="actions-toolbar text-right">
              <form action="/cart/cartItems/{{CartProductSkuId}}?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-link text-danger">
                  <i class="fas fa-trash"></i>
                </button>
              </form>
            </div>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </section>

  <aside class="panel shipping-summary col-lg-4 mx-auto">
    <p class="title">內含商品</p>
    <div class="info py-3">
      <p>估計運費</p>
      <form action="/orders/checkout/shipping" method="GET">
        <div class="form-group">
          <label for="receiveCountry">國家</label>
          <select class="form-control custom-select-sm" id="receiveCountry" name="receiveCountry">
            <option value="">請選擇您的國家</option>
            <option {{#eq receiveCountry '台灣'}} selected {{/eq}}>台灣</option>
          </select>
        </div>

        <div class="form-group">
          <label for="county">縣市</label>
          <select class="form-control custom-select-sm" id="county" name="county">
            <option value="">請選擇一個縣市</option>
            {{#each counties}}
            <option {{#eq ../county this}} selected {{/eq}}>{{this}}</option>
            {{/each}}
          </select>
        </div>

        <div class="form-group">
          <label for="zip">郵遞區號</label>
          <input type="text" class="form-control" id="zip" name="zip" value="{{zip}}">
        </div>

        {{> shippingMethods}}
        <hr>
        {{> expectedCost}}

        {{#gt itemsCount 0}}
        <button type="submit" class="btn-action w-100">
          <span>進行結算</span>
        </button>
        {{/gt}}
      </form>
    </div>
  </aside>
</div>