<span class="page-title">購物車</span>

<div class="cart row">
  <div class="table-container col-lg-8 mx-auto">
    <table class="table">
      <thead>
        <tr class="text-center">
          <th scope="col" class="text-left border-0">商品</th>
          <th scope="col" class="border-0">價格</th>
          <th scope="col" class="border-0">數量</th>
          <th scope="col" class="border-0">小計</th>
        </tr>
      </thead>

      <tbody>
        {{#each cartItems}}
        <tr class="product-item-info text-center">
          <td class="product-item-image text-left d-flex">
            <a href="/products/{{this.sn}}">
              <span class="item-image-container">
                <img src="{{this.image}}" width="100%" height="auto">
              </span>
            </a>
            <div class="product-item-details d-flex flex-column justify-content-center ml-4">
              <p>
                <strong class="item-details-name">
                  <a href="/products/{{this.sn}}">
                    {{this.name}}
                  </a>
                </strong>
              </p>
              <p>
                <span class="font-weight-bold">Color:</span>
                {{this.color}}
              </p>
              <p>
                <span class="font-weight-bold">Size:</span>
                {{this.size}}
              </p>
            </div>
          </td>

          <td>
            {{this.salePrice}}
          </td>

          <td>
            <div class="d-flex justify-content-center">
              <div class="quantity-field mr-1">
                <input type="number" maxlength="3" value="{{this.quantity}}" disabled>
              </div>

              <div class="quantity-change">
                <form action="/cart/cartItems/{{CartProductSkuId}}/add" method="POST">
                  <input type="hidden" name="country" value="{{../country}}">
                  <input type="hidden" name="county" value="{{../county}}">
                  <input type="hidden" name="postal" value="{{../postal}}">
                  <input type="hidden" name="shipping" value="{{../shipping}}">
                  <button type="submit" class="btn btn-sm btn-outline-secondary">
                    <i class="fas fa-caret-up"></i>
                  </button>
                </form>
                <form action="/cart/cartItems/{{CartProductSkuId}}/sub" method="POST" class="mt-1">
                  <input type="hidden" name="country" value="{{../country}}">
                  <input type="hidden" name="county" value="{{../county}}">
                  <input type="hidden" name="postal" value="{{../postal}}">
                  <input type="hidden" name="shipping" value="{{../shipping}}">
                  <button type="submit" class="btn btn-sm btn-outline-secondary">
                    <i class="fas fa-caret-down"></i>
                  </button>
                </form>
              </div>
            </div>
          </td>

          <td>{{this.itemTotal}}</td>
        </tr>

        <tr class="item-actions">
          <td colspan="100" class="border-top-0">
            <div class="actions-toolbar text-right">
              <form action="/cart/cartItems/{{CartProductSkuId}}?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-link text-danger">
                  <i class="fas fa-trash"></i>
                </button>
              </form>
            </div>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

  <div class="shipping-summary col-lg-4 mx-auto">
    <p class="title">內含商品</p>
    <div class="info">
      <p>估計運費</p>
      <form action="/orders/create" method="GET">
        <div class="form-group">
          <label for="country">國家</label>
          <select class="form-control custom-select-sm" id="country" name="country">
            <option>請選擇您的國家</option>
            <option {{#eq country '台灣'}} selected {{/eq}}>台灣</option>
          </select>
        </div>

        <div class="form-group">
          <label for="county">縣市</label>
          <select class="form-control custom-select-sm" id="county" name="county">
            <option>請選擇一個縣市</option>
            {{#each countyList}}
            <option {{#eq ../county this}} selected {{/eq}}>{{this}}</option>
            {{/each}}
          </select>
        </div>

        <div class="form-group">
          <label for="postal">郵遞區號</label>
          <input type="text" class="form-control" id="postal" name="postal" value="{{postal}}">
        </div>

        <div class="check">
          {{#each shippingMethods}}
          <div class="form-check">
            <input class="form-check-input" type="radio" name="shipping" value={{@key}} id={{@key}}
              {{#eq @key ../shipping}} checked {{/eq}}>
            <label class="form-check-label" for="{{@key}}">
              {{#eq @key 'inStorePickup'}}
              <span>到店自取</span>
              {{else}}
              <span>寄送運費</span>
              {{/eq}}
              <span>{{this}}</span>
            </label>
          </div>
          {{/each}}
        </div>

        <div class="expected-cost">
          <div class="products-amount">
            <span>小計</span>
            <span>{{subTotal}}</span>
          </div>
          <div class="shipping-fee">
            <span>配送資訊</span>
            <span>{{selectedShippingFee}}</span>
          </div>
          <p class="total-amount">
            <span>訂單金額</span>
            <span>{{total}}</span>
          </p>
        </div>
        <button type="submit" class="action-btn w-100">
          <span>進行結算</span>
        </button>
      </form>
    </div>
  </div>
</div>
<script src="/javascripts/index.js"></script>