<div class="product">
  <section class="content">
    <div class="row">
      <div class="col-md-5 gallery">

        <div class="main">
          {{#each productItem.productImages}}
          <span class="color-{{@key}} border mx-auto">
            {{#each this}}
            <img src="{{this}}" class="img-order order-{{@key}} mx-auto" data-option="{{@key}}" width="300px"
              height="410px">
            {{/each}}
          </span>
          {{/each}}
        </div>

        <div class="nav-wrap text-left">
          {{#each productItem.productImages}}
          <span class="color-{{@key}}">
            {{#each this}}
            <img src="{{this}}" class="img-order order-{{@key}}" data-option="{{@key}}" width="80px" height="auto">
            {{/each}}
          </span>
          {{/each}}
        </div>

      </div>

      <div class="col-md-7 info">
        <div class="title d-flex flex-column">
          <span class="name">{{productItem.name}}</span>
          <span class="price my-1">{{currency productItem.salePrice}}</span>
          <small>有現貨</small>
        </div>
        <hr>

        <div class="attribute-options">
          <div class="color-option">
            <p>Color:</p>
            {{#each productItem.colorImages}}
            <a href="javascript:;">
              <div class="color-img-wrapper">
                <img src="{{this}}" class="color" data-option={{@key}} alt="color-img" width="100%" height=" auto">
              </div>
            </a>
            {{/each}}
          </div>

          <div class="size-option">
            <p class="mt-3">Size:</p>
            {{#each productItem.productSizes}}
            <div class="mb-3 color-{{@key}}">
              {{#each this}}
              <button type="button" class="size" data-option={{this}}>{{this}}</button>
              {{/each}}
            </div>
            {{/each}}
          </div>
        </div>
        <hr>

        <div class="action">
          <div class="btn-group">

            <form action="/cart" method="POST" class="d-flex">
              <div class="calc-quantity d-flex">
                <a href="javascript:;" class="text-dark quantity-minus">
                  -
                </a>

                <input hidden name="name" value="{{productItem.name}}">
                <input hidden name="productSn" value="{{productItem.sn}}">
                <input hidden name="color">
                <input hidden name="size">
                <input type="text" name="quantity" class="quantity" value="1">

                <a href="javascript:;" class="text-dark quantity-plus">
                  +
                </a>
              </div>
              <button type="submit" id="addtocart-button" class="btn btn-sm mx-3 tocart">加入購物車</button>
            </form>

            <form action="">
              <button class="btn btn-sm btn-outline-secondary" disabled>Love</button>
            </form>
          </div>
        </div>
        <hr>

      </div>
    </div>
  </section>
</div>