<div class="row">
  <!-- 篩選 -->
  <aside class="col-md-3 border">
  </aside>

  <!-- 主內容 -->
  <main class="row col-md-9 mx-auto products">
    {{#each products}}
      <div class="col-md-4 product px-2">
        <div class="card mb-4 h-100 shadow-sm product-{{this.sn}}">
          <div class="product-img">
            {{#each productImages}}
              <img class="bd-placeholder-img card-img-top color-option-{{@key}}" width="100%" height="auto"
                src="{{this}}">
            {{/each}}
          </div>

          <div class="card-body text-center d-flex flex-column justify-content-between">
            <p class="card-text">
              <span class="product-name">
                <a href="/products/{{this.sn}}">{{this.name}}</a>
              </span>
              <br>
              <span class="product-price">NT$ {{this.salePrice}}</span>
            </p>

            <div class="switch-attribute-option mb-3">
              {{#each colorImages}}
                <span>
                  <a href="javascript:;">
                    <div class="color-img-wrapper">
                      <img src="{{this}}" class="color" data-color-option={{@key}} data-product-sn="{{../this.sn}}"
                        alt="color-img" width="100%" height="auto">
                    </div>
                  </a>
                </span>
              {{/each}}
            </div>

            <div class="text-right">
              <form action="">
                <button class="btn btn-sm btn-outline-secondary">Love</button>
              </form>
            </div>

          </div>
        </div>
      </div>
    {{/each}}
  </main>
</div>